@import "variables";
@import "media";

:host {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.chessmen {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-end;

  @include phone() {
    align-items: center;
  }

  &__wrapper,
  &__pieces {
    display: flex;
    color: var(--white-color);
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 13px;
    font: 400 12px/1 var(--aktiv-grotesk-regular);
    background-color: var(--bg-color);
    border-radius: 3px;

    @include phone() {
      width: 10px;
      height: 10px;
      font: 400 8px/1 var(--aktiv-grotesk-regular);
    }
  }

  &__piece {
    width: 28px;
    height: 28px;

    @include phone() {
      width: 10px;
      height: 10px;
    }

    @include phone-landscape() {
      width: 10px;
      height: 10px;
    }

    piece {
      width: 100%;
      height: 100%;
    }
  }

  &__pieces-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__preponderance {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 500 16px/1 var(--aktiv-grotesk-regular);
    margin-left: var(--gap);
    padding-left: calc(var(--gap) * 0.1);
    min-width: 24px;
    border-left: 1px solid rgba(#fff, 0.3);

    @include phone() {
      margin-left: calc(var(--gap) / 2);
      padding-left: calc(var(--gap) / 2);
      font: 500 10px/1 var(--aktiv-grotesk-regular);
      min-width: 16px;
    }

    @include phone-landscape() {
      margin-left: calc(var(--gap) / 2);
      padding-left: calc(var(--gap) / 2);
      font: 500 10px/1 var(--aktiv-grotesk-regular);
      min-width: 16px;
    }
  }
}
