@font-face {
  font-family: "AktivGrotesk-Regular";
  src: url("assets/fonts/AktivGrotesk-Regular.woff2") format("woff2"),
    url("assets/fonts/AktivGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ApocLC-Revelations";
  src: url("assets/fonts/ApocLC-Revelations.woff2") format("woff2"),
    url("assets/fonts/ApocLC-Revelations.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
